.header {
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  display: flex;
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
}