.header {
  display: flex;
  margin-left: 40px;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
}