body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  background-color: #1F2937;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 16px; /* adds space on top, bottom, left, and right inside header section */
  align-items: center;
}

.header-logo {
  font-weight: 600; /* makes logo bold */
}

ul {
  list-style-type: none; /* removes the dots */
  padding: 0; /* removes left padding */
  margin: 0; /* removes top/bottom margin */
  color: white;
  display: flex;
  flex-direction: row; 
  gap: 16px; /* adds space between items in list */
}

li a {
  text-decoration: none; /* removes underline */
  color: inherit;
}

.header-left {
  display: flex;
  justify-content: flex-start;
}

/* hero section 

.hero {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-around;
  padding: 16px; 
  gap: 16px;
  background-color: #1F2937;
}

.hero-main-text {
  color: #f9faf8;
  font-weight: 900;
  font-size: 48px;
}

*/
